<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Template CSS</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="../../flat-ui/images/favicon.ico">
        <link rel="stylesheet" href="../../flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="../../flat-ui/css/flat-ui.css">
        <!-- Using only with Flat-UI (free)-->
        <link rel="stylesheet" href="../../common-files/css/icon-font.css">
        <!-- end -->
        <link rel="stylesheet" href="../../common-files/css/animations.css">
        
        <!-- If you don't use any of these blocks just remove unnecessary CSS files -->
        <!-- blog -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-blog/css/style.css">
        <!-- contacts -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-contacts/css/style.css">
        <!-- content -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-content/css/style.css">
        <!-- crew -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-crew/css/style.css">
        <!-- footer -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-footer/css/style.css">
        <!-- header -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-header/css/style.css">
        <!-- price -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-price/css/style.css">
        <!-- projects -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-projects/css/style.css">
    </head>

    <body>
        
        <div class="page-wrapper">
            <header class="header-9">
          <div class="container">
            <div class="row">
              <div class="navbar col-sm-12" role="navigation">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle"></button>
                  <a class="brand" href="#"><span class="fui-cmd"> </span></a>
                </div>
                <div class="collapse navbar-collapse">
                  <ul class="nav">
                    <li class="active"><a href="#">ABOUT</a>
                    </li>
                    <li><a href="#">EXAMPLES</a>
                    </li>
                    <li><a href="#">PRICING</a>
                    </li>
                    <li><a href="#">BLOG</a>
                    </li>
                    <li><a href="#">SIGN UP</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </header>
        <section class="header-9-sub bg-midnight-blue">
          <div class="background">&nbsp;</div>
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <div class="hero-unit bordered">
                  <p class="wide-text">Headphone ID</p>
                </div>
                <p class="wide-text text-warning">your music, your way</p>
              </div>
            </div>
            <div class="nav-steps">
              <a href="#" class="active">HOME PAGE</a>
              <div class="steps-selectors">
                <a href="#" class="active">/</a>
                <a href="#">/</a>
                <a href="#">/</a>
                <a href="#">/</a>
              </div>
              <a href="#">SIGN UP</a>
            </div>
          </div>
        </section>
        <section class="content-24 bg-midnight-blue">
    <img class="image" src="../../common-files/img/content/graph.png" alt="">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-6">
                <div class="features features-clear">
                    <div class="features-header">
                        <div class="box active">
                            <div class="fui-cmd"></div>
                        </div>
                        <div class="box">
                            <div class="fui-mic"></div>
                        </div>
                        <div class="box">
                            <div class="fui-user"></div>
                        </div>
                    </div>
                    <div class="features-bodies">
                        <div class="features-body active">
                            <h3>Bringing together function and style</h3>
                            <p>Headphone ID gives you the chance to create one-of-a kind, high quality headphones. We're shaking up the market of headphones by giving you the ability to create what you want. 
                            </p>
                            <a class="btn btn-clear" href="#">GET NOTIFIED</a>
                        </div>
                        <div class="features-body">
                            <h3>High quality sound</h3>
                            <p>The sound quality of the headphones produced by Headphone ID is top of the market. Our engineers are committed to giving you the best listening experience out there. </p>
                            <a class="btn btn-clear" href="#">GET NOTIFIED</a>
                        </div>
                        <div class="features-body">
                            <h3>Unique to you</h3>
                            <p>Reclaim your headphones. With Headphone ID, you can design completely customizable headphones that are unique to you. Use one of our templates to get started or create something from scratch!</p>
                            <a class="btn btn-clear" href="#">GET NOTIFIED</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-26 bg-clouds">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3>Your Headphones, Your Way</h3>
                <p class="lead">We’ve created a new way of listening to music.</p>
            </div>
        </div>
        <div class="row features">
            <div class="col-sm-3">
                <img src="../../common-files/icons/block1.png" alt="" width="100" height="100">
                <h6>Customizable</h6>
                You are at the helm of your own headphone design.
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <img src="../../common-files/icons/block2.png" alt="" width="100" height="100">
                <h6>Compatible</h6>
                Our headphones can be used with any device that takes a 3.5mm headphone jack. 
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <img src="../../common-files/icons/block3.png" alt="" width="78" height="100">
                <h6>Comfortable</h6>
                We guarantee that everything we sell is comfortable and light. 
            </div>
        </div>
    </div>
</section>
<footer class="footer-13">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">EXAMPLES</a></li>
            </ul>
        </nav>
        <span class="fui-cmd"> </span>
        <nav class="pull-right">
            <ul>
                <li><a href="#">PRICING</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">SIGN UP</a></li>
            </ul>
        </nav>
    </div>
</footer>
        </div>

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="../../common-files/js/jquery-1.10.2.min.js"></script>
        <script src="../../flat-ui/js/bootstrap.min.js"></script>
        <script src="../../common-files/js/modernizr.custom.js"></script>
        <script src="../../common-files/js/page-transitions.js"></script>
        <script src="../../common-files/js/startup-kit.js"></script>
    </body>
</html>